* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body,
html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.menu {
    text-align: center;
}

.menu h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.menu button {
    width: calc(33.33% - 20px);
    padding: 20px;
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 10px;
}
